/* ================= HEADER ================= */
.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: rgba(13, 11, 26, 0.55);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* ================= NAV ================= */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ================= LOGO ================= */
.logo-container {
  display: flex;
  align-items: center;
  gap: 2px;
}

.logo-icon {
  width: 40px;
  height: 40px;
  border: 2px solid #5642ec;
  border-radius: 50%;
}

.logo-icon:hover {
  box-shadow: 0 0 10px #5642ec;
}

/* ================= RIGHT SIDE ================= */
.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* ================= LINKS ================= */
.nav a {
  text-decoration: none;
  color: #ccc;
  font-size: 15px;
  position: relative;
  transition: 0.3s;
}

.nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background: #5642ec;
  transition: 0.3s;
}

.nav a:hover {
  color: #f39c12;
}

.nav a:hover::after {
  width: 100%;
}

/* ================= BUTTON ================= */
.theme-btn {
  padding: 6px 12px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  background-color: #5642ec;
  color: #fff;
  transition: 0.3s;
}

.theme-btn:hover {
  background-color: #1f03f0;
}

/* ================= CART ================= */
.cart-link {
  position: relative;
  font-size: 18px;
}

.cart-badge {
  position: absolute;
  top: -8px;
  right: -10px;
  background: red;
  color: white;
  font-size: 11px;
  padding: 3px 6px;
  border-radius: 50%;

}

/* ================= USER ================= */
.user-name {
  font-size: 14px;
  color: #ccc;
}

/* ================= HAMBURGER ================= */
.hamburger {
  display: none;
  font-size: 26px;
  color: #fff;
  cursor: pointer;
}

/* ================= LIGHT MODE ================= */
body.light .header {
  background: rgba(255, 255, 255, 0.7);
}

body.light .logo,
body.light .nav a,
body.light .user-name,
body.light .hamburger {
  color: #111;
}

/* ================= MOBILE ================= */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav {
    flex-wrap: wrap;
  }

  .nav-right {
    width: 100%;
    display: none;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
  }

  .nav-right.open {
    display: flex;
  }

  .nav-right a,
  .nav-right button {
    width: auto;
  }
}